body {
  background-color: rgb(213, 171, 142);
}

h1 {
  color: rgb(163, 78, 134);
  text-align: center;
}

p {
  color: rgb(86, 148, 150);
  font-size: 30px;
}

img {
  border: 2px solid rgb(169, 24, 111);
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
}

a {
  color: rgb(113, 80, 143);
}

a:hover {
  color: darkmagenta;
}